<form action="/api/subjects" method="POST" id="add_subject" class="add">
  <div class="new_subject">
    <div class="form-group">
      <label for="name" class="text-light">Subject</label>
      <input type="hidden" name="subject_id" value="" />
      <input type="text" name="subject_name" value="" placeholder="Chemistry" />
    </div>
    <div class="form-group">
      <label for="active" class="text-light">Active</label>
      <div class="radio inline">
        <input type="radio" name="active" value="true" />
        <label for="active" class="text-light">true</label>
      </div>
      <div class="radio inline">
        <input type="radio" name="active" value="false" />
        <label for="active" class="text-light">false</label>
      </div>
    </div>
    <div class="form-group">
      <button class="btn text-dark update">Save</button>
    </div>
  </div>
</form>
